// /* footer styling  */

footer{
  background-color:  getColor('hero-footer-bg');
  width: 100%;
}

.footer.container {
  padding-top: 60px;
  padding-bottom: 60px;
  
 
  @media  (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }

  @media (min-width:(1200px)) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }

}

.footer--wrapper {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    text-align:start;
  }
}

.footer__logo {
  color:  getColor('wite-primary');
  margin-bottom: 20px;
  display: inline-block;

  @extend .logo;
}

address {
  font-style: normal;
  font-weight: 400;
  color:  getColor('wite-primary');
  letter-spacing: 0.03em;
  margin-bottom: 9px;   
}

.footer__contacts{
  color: rgba(255, 255, 255, 0.6);
  
  &>:not(:last-child){
    margin-bottom: 10px;
  }

  @media (max-width:1200px) {
    text-align: center;
    &:last-child{
      margin-bottom: 60px;
    }
  }
}

.footer__contacts a{
  &:hover,
  &:focus {
    color:   getColor('accent'); 
  }

  transition: color  makeAnimation('duration')  makeAnimation('timing-function');
}

.footer__contacts--title {
  font-size: 14px;
  line-height: 16px;
  color:  getColor('wite-primary');
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe__forme--wrapper {
  text-align: center;

  @media (min-width:1200px) {
    margin-left: auto;
  }

}

.subscribe__form {
  @media (min-width:1200px) {
    display: flex;
    align-items: center;
  }
}
  

.subscribe__form input{
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  color:  getColor('wite-primary');
  
  &::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  padding-left: 16px;}

  @media (max-width:450px) {
    width: 100%;
  }

  @media (min-width:1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

// {
// //   width: 358px;
// margin-right: 12px;
//   padding-left: 16px;
// }


.subscribe__button {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:   getColor('accent');
  padding: 10px 29px;
  margin: auto;

  color: getColor('wite-primary');
  font-size: 16px;
  font-weight: 700;

  @extend .button;

  @media (min-width:1200px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.subscribe__button--text{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

